

{{>header}}
<p>Input your address to see the weather</p>

<form>
   <input type="text" id="search">
   <input type="submit" value="Search">
</form>

<p id="message-1"></p>
<p id="message-2"></p>

<script src="/assets/js/index.js"></script>
{{>footer}}